# Problem Statement
Sweet Lift Taxi company has collected historical data on taxi orders at airports. To attract more
drivers during peak hours, we need to predict the number of taxi orders for the next hour. Build a
model for such a prediction

# Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

# Setting environment to ignore future warnings
import warnings
warnings.simplefilter('ignore')

# Loading Data

In [ ]:
df = pd.read_csv("taxi.csv")
df['datetime'] = pd.to_datetime(df['datetime'])
df.set_index("datetime", inplace=True, drop=True)
df.head()

                     num_orders
datetime
2018-03-01 00:00:00           9
2018-03-01 00:10:00          14
2018-03-01 00:20:00          28
2018-03-01 00:30:00          20
2018-03-01 00:40:00          32

In [ ]:
df.shape

(26496, 1)

In [ ]:
df.describe()

         num_orders
count  26496.000000
mean      14.070463
std        9.211330
min        0.000000
25%        8.000000
50%       13.000000
75%       19.000000
max      119.000000

In [ ]:
# Resampling data to 1 hour
df.resample("60min").mean()

                     num_orders
datetime
2018-03-01 00:00:00   20.666667
2018-03-01 01:00:00   14.166667
2018-03-01 02:00:00   11.833333
2018-03-01 03:00:00   11.000000
2018-03-01 04:00:00    7.166667
...                         ...
2018-08-31 19:00:00   22.666667
2018-08-31 20:00:00   25.666667
2018-08-31 21:00:00   26.500000
2018-08-31 22:00:00   37.166667
2018-08-31 23:00:00   34.166667

[4416 rows x 1 columns]

# Data Preparation

In [ ]:
df.reset_index(inplace=True)
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.dayofweek
df['year'] = df['datetime'].dt.year

In [ ]:
X = df[["month", "day", "year"]]
y = df.num_orders

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.10, random_state=42)

# Model Building

#### Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
np.sqrt(mean_absolute_error(y_test, y_pred))

2.513333398736652

#### Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
np.sqrt(mean_absolute_error(y_test, y_pred))

2.4956037229537014

## <font color='#2F4F4F'>Summary of Findings</font>

What are your findings?

The prediction of orders to taxi is an important thing to increase the sales. Suppose if the number of orders are less then you can turn off some of taxis for this day. Both models appear to be performing almost equally i.e their root mean squared error is almost equal.

## <font color='#2F4F4F'>Recommendations</font>

What do you recommend?



## <font color='#2F4F4F'>Challenging your Solution</font>

#### a) Did we have the right question?

Yes

#### b) Did we have the right data?

Yes